<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro to Vue</title>
    <style>
      .list-item {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>My app</h1>

    <div id="app">
      <div>
        <input type="text" v-model="newTodo" />
        <button v-on:click="addNewTodo">Add</button>
      </div>
      <h3>Not Done Todos</h3>
      <ul>
        <li
          class="list-item"
          v-for="item in notDoneTodos"
          v-on:click="toggleItem(item)"
        >
          {{item.text}}
        </li>
      </ul>

      <h3>Done Todos</h3>
      <ul>
        <li
          class="list-item"
          v-for="item in doneTodos"
          v-on:click="toggleItem(item)"
        >
          <s> {{item.text}} </s>
        </li>
      </ul>
    </div>
    <p><i>Footer</i></p>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          todos: [
            { text: "mow the lawn", done: false },
            { text: "pay my bills", done: false },
            { text: "clean my room", done: false },
          ],

          newTodo: "clean the kitchen",
        },

        computed: {
          notDoneTodos: function () {
            let out = [];
            for (let i = 0; i < this.todos.length; i++) {
              let item = this.todos[i];
              if (!item.done) out.push(item);
            }
            return out;
          },
          doneTodos: function () {
            let out = [];
            for (let i = 0; i < this.todos.length; i++) {
              let item = this.todos[i];
              if (item.done) out.push(item);
            }
            return out;
          },
        },

        methods: {
          toggleItem: function (item) {
            item.done = !item.done;
          },
          addNewTodo: function () {
            this.todos.push({
              text: this.newTodo,
              done: false,
            });
            this.newTodo = "";
          },
        },
      });
    </script>
  </body>
</html>
